<h1> Showing Projects details</h1>

<p>Title: <%= @project.title %> </p>
<p>Decsription: <%= @project.description %></p>
<% if @project.image.attached? %>
    <p>
  <img src="<%= url_for(@project.image) %>" alt="Project Image" width="80" height="80">
<% end %>
</p>

<%= link_to 'Edit project', edit_project_path(@project) %>
    <%= button_to 'Delete project', project_path(@project), method: :delete, :onclick => "return confirm('Are you sure you want to delete this project?')" %>
<%= link_to 'Projects List', projects_path %>